body {
  text-align: center;
  background-color: #770694;
}

h1 {
  font-size: 5rem; 
  color: #dbedf3;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 3px 0 #ff5729;
  text-decoration: underline ;
  text-underline-offset: 20px;
}

footer {
  color: #81e0ff;
  font-family: sans-serif;
}
.w {
  background-image: url("./images/tom1.png");
}
.a {
  background-image: url("./images/tom2.png");
}
.s {
  background-image: url("./images/tom3.png");
}
.d {
  background-image: url("./images/tom4.png");
}

.j {
  background-image: url("./images/snare.png");
}
.k {
  background-image: url("./images/crash.png");
}
.l {
  background-image: url("./images/kick.png");
}

.set {
  margin: 10% auto;
}

.drum {
  width: 150px;
  height: 150px;
  font-size: 5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 2;
  font-weight: 900;
  color: red;
  border-radius: 15px;
  text-shadow: 3px 0 rgb(219, 198, 188);
  text-align: center;
  margin: 10px;
  background-color: white;
  border: 10px solid rgb(59, 59, 59);
}


.pressed {
  box-shadow: 0 3px 4px 0 #6c2ae9;
  opacity: 1;
}